* {
    margin: 0;
    padding: 0;
}

body {
    font-family: fantasy;
    background-image: url(Sem\ nome\ \(Site\).png);
}
.logo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 12px
}

.nome {
    position: relative;
    
}

.texto {
    position: relative;
    top: 200px;
    left: 830px;   
    
}

.header {
    background-image: url(background.jpg);
    padding: 4px;
    text-align: center;
}

a, a:visited {
    color: rgb(33, 53, 53);
    padding: 25px 10px;
}

a:hover {
    background-color: blueviolet;
    padding: 2px 10px;

}